/* LANDING PAGE */
/* ---------------------------- */
.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
/* -------------------------- */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(46, 46, 77);
  padding: .5rem;
  height: 8rem;
  border-bottom: solid 2px white;
}

.search-form {
  width: 60%;
  height: 3rem;
}

.search-fields {
  height: 3rem;
}

.search-fields input {
  font-size: 1.3rem;
}

.search-fields button {
  height: 3rem;
  font-size: 1.3rem;
}

.search-fields button:hover {
  background-color: yellow;
  color: black;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
}

.nav-link:hover {
  font-size: 1.5rem;
  color: yellow;
}

/* LANDING CONTENT */
/* ----------------------------- */

.hook,
.about,
.mission {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
  height: 50rem;
}

.hook {
  color: white;
  background-color: rgb(46, 46, 77);
}

.hook-left {
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.hook-phrase {
  font-size: 3em;
}

.hook-btn {
  background-color: yellow;
  color: black;
  width: 120px;
  height: 50px;
  font-size: 1.8em;
  align-self: center;
}

.hook-img {
  align-self: center;
  height: 600px;
}

.about-phrase,
.mission-phrase {
  align-self: center;
  width: 40%;
  font-size: 2.5em;
  white-space: pre-wrap;
}

<<<<<<< HEAD
/* .about-img {
  width: 30%;
} */
=======
.about-img {
  width: 30%;
}
>>>>>>> main

.mission {
  background-color: rgb(237, 239, 251);
}

.mission-img {
  align-self: center;
  width: 30%;
  height: 80%;
}

<<<<<<< HEAD
/* .footer {
=======
.footer {
>>>>>>> main
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-contact {
  margin-right: 37%;
}

.footer-social {
  align-self: flex-end;
  margin-bottom: 50px;
  margin-right: 20px;
  justify-self: right;
}

.footer-social>* {
  margin: 0 10px;
<<<<<<< HEAD
} */
=======
}
>>>>>>> main
