/*///////////// PAGE DEFAULTS ////////////////*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* html {
  font-size: 62.5%;
} */

body {
  box-sizing: border-box;
  position: relative;
}

/*///////////// WIDGETS ////////////////*/

  /* CAROUSEL */
  .slider-container {
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    padding: 3px;
    scroll-behavior: smooth;
  }

  .slider-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

  }

  .slider-arrow {
    position: absolute;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10;
  }

  .slider-arrow-prev {
    left: -1rem;
  }

  .slider-arrow-next {
    right: -1rem;
  }

  .slider-disable {
    opacity: 0.5;
    pointer-events: none;
  }

  /* CARDS */
  .card {
    height: 100%;
    width: 20rem;
    flex-shrink: 0;
    margin-right: 1.5rem;
    cursor: pointer;
    position: relative;
  }

  .card-body {
    height: 100%;
  }

/*///////////// COMPONENTS ////////////////*/

.reading-section,
.completed-section {
  height: 20rem;
}

.books-list-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.card-body {
  width: 20%;
}

.icon {
  width: 50px;
  height: 50px;
}
a {
  text-decoration: none;
  color: black;
}

/* LANDING PAGE */
/* ---------------------------- */
.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
/* -------------------------- */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(46, 46, 77);
  padding: .5rem;
  height: 8rem;
  border-bottom: solid 2px white;
}

.search-form {
  width: 60%;
  height: 3rem;
}

.search-fields {
  height: 3rem;
}

.search-fields input {
  font-size: 1.3rem;
}

.search-fields button {
  height: 3rem;
  font-size: 1.3rem;
}

.search-fields button:hover {
  background-color: yellow;
  color: black;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
}

.nav-link:hover {
  font-size: 1.5rem;
  color: yellow;
}

/* [ Community Metrics ] */

.cm-top-rated-user {
  height: px;
  width: auto;
  border: 5px solid grey;
  padding: 10px;
  text-align: center;
}

.cm-top-rated-question {
  display: block;
  height: 50px;
  width: auto;
  border: 5px solid grey;
  padding: 10px;
  text-align: center;
}

.cm-rankNum {
  position: absolute;
  font-weight: bolder;
  color: grey;
  display: inline-flex;
  left: 40px

}

.cm-top-username {
  position: absolute;
  color: blue;
  display: inline-flex;
  left: 100px
}

.cm-questions-submitted {
  position: absolute;
  right: 40px;
}

.cm-question-upvotes {
  position: absolute;
  right: 40px
}

.cm-question-body {
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

.metrics-heading {
  text-align: center;
  margin: auto;
}

/* LANDING CONTENT */
/* ----------------------------- */

.hook,
.about,
.mission {
  padding: 4rem;
  display: flex;
  justify-content: space-evenly;
  height: 50rem;
}

.hook {
  color: white;
  background-color: rgb(46, 46, 77);
}

.hook-left {
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.hook-phrase {
  font-size: 3em;
}

.hook-btn {
  background-color: yellow;
  color: black;
  width: 120px;
  height: 50px;
  font-size: 1.8em;
  align-self: center;
}

.hook-img {
  align-self: center;
  height: 600px;
}

.about-phrase,
.mission-phrase {
  align-self: center;
  width: 40%;
  font-size: 2.5em;
  white-space: pre-wrap;
}

.about-img {
  width: 30%;
}

.mission {
  background-color: rgb(237, 239, 251);
}

.mission-img {
  align-self: center;
  width: 30%;
  height: 80%;
}

.footer {
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-contact {
  margin-right: 37%;
}

.footer-social {
  align-self: flex-end;
  margin-bottom: 50px;
  margin-right: 20px;
  justify-self: right;
}

.footer-social>* {
  margin: 0 10px;
}

/* Questions and Answers Modals */
/* ========================== */

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
}

.quiz {
  font-size: 2em;
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: black solid 3px;
}

.quiz-prompt {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.quiz-question {
  background-color: white;
  border: black solid 2px;
  border-radius: 0;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

.question-vote {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.question-vote-choice {
  padding: 10px 10px;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.answers {

  margin-top: 30px;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quiz-answer {
  background-color: white;
  border-radius: 0;
  margin: 20px;
  width: 40%;
  height: 30%;
}

.quiz-answer:hover {
  background-color: rgb(180, 241, 241);
}

.quiz-answer:focus {
  background-color: thistle;
}

.quiz-menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.quiz-menu-btn {
  background-color:rgb(46, 46, 77);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
}

.quiz-img-box {
  width: 20rem;
  background-color: rgb(85, 87, 101);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
